.custom-nav{
  background-color: #232f3e !important;
}
.custom-nav .nav-link{
  color: blanchedalmond !important;
}
header{
  background-color: darkcyan;
}
header span{
  color: blanchedalmond;
}
.carousel-item img{
  height: 800px;
  object-fit: cover;
}
i{
  color: blanchedalmond;
}
.card img{
  height: 200px;
  object-fit: contain;
}